[Unit]
Description=Loki log aggregator (standalone container)
Requires=docker.service
After=docker.service

[Service]
Type=simple
EnvironmentFile=${CONF_DEST}
WorkingDirectory=${BASE_DIR}
ExecStartPre=-/usr/bin/docker rm -f loki
ExecStart=/usr/bin/docker run --rm --name loki \
  --network monitoring_network \
  --log-opt max-size=10m \
  --log-opt max-file=3 \
  -u ${PUID}:${PGID} \
  -p ${LOKI_PORT}:3100 \
  -v ${BASE_DIR}/loki/etc/loki:/etc/loki \
  -v ${DATA_DIR}/loki/chunks:/etc/loki/chunks \
  -v ${DATA_DIR}/loki/rules:/etc/loki/rules \
  -v ${DATA_DIR}/loki/compactor:/etc/loki/compactor \
  grafana/loki:latest \
  -config.file=/etc/loki/loki-config.yaml
ExecStop=/usr/bin/docker stop loki
Restart=always
RestartSec=10s
User=${PUID}
Group=${PGID}

[Install]
WantedBy=multi-user.target
