[Unit]
Description=Monitoring services all in one.
Requires=docker.service
After=docker.service

[Service]
Type=simple
EnvironmentFile=${CONF_DEST}
WorkingDirectory=${BASE_DIR}
ExecStart=/usr/bin/docker compose --env-file ${CONF_DEST} up
ExecStop=/usr/bin/docker compose down
Restart=always
RestartSec=10s
User=${PUID}
Group=${PGID}

[Install]
WantedBy=multi-user.target
