[Unit]
Description=Grafana dashboard server (standalone container)
Requires=docker.service
After=docker.service

[Service]
Type=simple
EnvironmentFile=${CONF_DEST}
WorkingDirectory=${BASE_DIR}
ExecStartPre=-/usr/bin/docker rm -f grafana
ExecStart=/usr/bin/docker run --rm --name grafana \
  --network monitoring_network \
  --log-opt max-size=10m \
  --log-opt max-file=3 \
  -u ${PUID}:${PGID} \
  -p ${GRAFANA_PORT}:3000 \
  -e GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD} \
  -v ${DATA_DIR}/grafana/var/lib/grafana:/var/lib/grafana \
  -v ${BASE_DIR}/grafana/etc/grafana:/etc/grafana \
  grafana/grafana
ExecStop=/usr/bin/docker stop grafana
Restart=always
RestartSec=10s
User=${PUID}
Group=${PGID}

[Install]
WantedBy=multi-user.target
